<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- ./  相对路径
    /   绝对路径
    以后我们的网站，都是通过服务器来打开
    网页，写了根路径
    1、服务器形式代开 正确
        a vscode  自带服务器
        b 结合phpstudy 来使用
    2、双击打开html页面 错误 => 根路径就定位了 c:
    3、通过接口去返回一些数据
        /1.jpg
        ./1.jpg -->
    <link rel="stylesheet" href="/lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css">
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/goods_detail.css">
</head>

<body>
    <!-- 头部部分开始 -->
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">商品详情</h1>
    </header>
    <!-- 头部部分结束-->
    <div class="view">
        <script type="text/x-art-template" id="viewTmpl">
            {{if comments.pics.length!=0}}
            <!-- 轮播图部分开始 -->
            <div class="mui-slider">
                <div class="mui-slider-group mui-slider-loop">
                    <!--支持循环，需要重复图片节点-->
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="#">
                            <img src="{{comments.pics[comments.pics.length-1].pics_mid_url}}" />
                        </a>
                    </div>
                    {{each comments.pics $value}}
                    <div class="mui-slider-item">
                        <a href="#">
                            <img src="{{$value.pics_mid_url}}" />
                        </a>
                    </div>
                    {{/each}}
                    <!--支持循环，需要重复图片节点-->
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="#">
                            <img src="{{comments.pics[0].pics_mid_url}}" />
                        </a>
                    </div>
                </div>
                <div class="mui-slider-indicator">
                    {{each comments.pics $value $index}}
                    {{ if $index==0}}   
                        <div class="mui-indicator mui-active"></div>
                    {{/if}}
                    {{ if $index!=0}}   
                    <div class="mui-indicator"></div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <!-- 轮播图部分结束 -->

            <div class="goods_name">
                {{comments.goods_name}}
            </div>
            <div class="goods_price">￥{{comments.goods_price}}</div>
            <div class="goods_attr">
                <ul>
                    <li>
                        <div class="tag">已选</div>
                        <div class="tag_value">白色</div>
                    </li>
                    <li>
                        <div class="tag">已选</div>
                        <div class="tag_value">白色</div>
                    </li>
                    <li>
                        <div class="tag">已选</div>
                        <div class="tag_value">白色</div>
                    </li>
                    <li>
                        <div class="tag">已选</div>
                        <div class="tag_value">白色</div>
                    </li>
                </ul>
            </div>
            <div class="info_title">
                <div id="segmentedControl" class="mui-segmented-control">
                    <a class="mui-control-item mui-active" href="#item1">图文详细</a>
                    <a class="mui-control-item" href="#item2">规格参数</a>
                </div>
            </div>
            <div class="info_content">
                <div id="item1" class="mui-control-content mui-active">
                    {{@comments.goods_introduce}}
                </div>
                <div id="item2" class="mui-control-content">
                    <ul>
                        {{each comments.attrs}}
                        <li>
                            <div class="attrs_title">{{$value.attr_name.split("-")[0]}}</div>
                            <div class="attrs_content">
                                <div class="tag">{{$value.attr_name.split("-")[1]}}</div>
                                <div class="tag_value">{{$value.attr_value}}</div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
        </script>
        </div>
        <!-- 主体部分结束 -->
        <!-- 主体部分开始 -->
        <!-- footer部分开始 -->
        <footer>
            <ul>
                <li>
                    <a href="/index.html">
                        <span class="mui-icon mui-icon-chatbubble"></span>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="/pages/category.html">
                        <span class="mui-icon mui-icon-download"></span>
                        <p>分类</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p>立即购买</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p class="addtoShoppingCart">加入购物车</p>
                    </a>
                </li>
            </ul>
        </footer>
        <!-- footer部分结束 -->
        <script src="/lib/mui/js/mui.min.js"></script>
        <script src="/lib/arttemplate/template-web.js"></script>
        <script src="/lib/zepto/zepto.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/goods_detail.js"></script>
</body>

</html>