body {
  display: none;
}

header {
  padding: 0 10px;
}

header .mui-title {
  color: #0062cc;
}

header .mui-btn.mui-btn-primary.mui-btn-outlined {
  top: 4px;
}

header button:nth-child(1) {
  display: none;
}

.view {
  padding: 0 8px;
}

.view .address {
  margin-top: 40px;
}

.view .address .add_title {
  margin-bottom: 4px;
}

.view .address .add_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 14px 4px;
  position: relative;
}

.view .address .add_content .add_con_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: red;
}

.view .address .add_content .add_con_right {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.view .address .add_content .add_con_right .default_add_title {
  font-size: 14px;
  line-height: 1;
}

.view .address .add_content .add_con_right .default_add {
  line-height: 1;
  color: #666;
  font-size: 12px;
  margin-top: 4px;
}

.view .address .add_content i {
  position: absolute;
  color: #666;
  right: 14px;
  top: 20px;
}

.view .order_form {
  margin-top: 40px;
}

.view .order_form .of_title {
  margin-bottom: 4px;
}

.view .order_form .of_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fff;
  padding: 14px 8px;
}

.view .order_form .of_content .totalPrice {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.view .order_form .of_content .createOrder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 8px;
}

.view .order_form .of_content .createOrder a {
  color: #0062cc;
  float: right;
  margin-right: 24px;
}

.view .order_form .of_content i {
  position: absolute;
  right: 14px;
  color: #666;
}

.view .cart_forms {
  margin-top: 40px;
}

.view .cart_forms .cf_title {
  margin-bottom: 4px;
}

.view .cart_forms ul li {
  -webkit-box-shadow: 1px 3px 4px 2px #ccc;
          box-shadow: 1px 3px 4px 2px #ccc;
  border-radius: 12px;
  margin-bottom: 8px;
  overflow: hidden;
}

.view .cart_forms ul li .cf_content {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 14px 8px;
}

.view .cart_forms ul li .cf_content .mui-input-row.mui-checkbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: none;
}

.view .cart_forms ul li .cf_content .mui-input-row.mui-checkbox input {
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -13px;
}

.view .cart_forms ul li .cf_content .pic {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view .cart_forms ul li .cf_content .pic img {
  width: 80%;
}

.view .cart_forms ul li .cf_content .cf_info {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  position: relative;
}

.view .cart_forms ul li .cf_content .cf_info .info_name {
  font-size: 12px;
}

.view .cart_forms ul li .cf_content .cf_info .price {
  font-size: 14px;
  font-weight: bold;
  color: red;
}

.view .cart_forms ul li .cf_content .cf_info .mui-numbox {
  display: none;
  position: absolute;
  right: 0px;
  bottom: -8px;
}

body.edit header button:nth-child(1) {
  display: block;
}

body.edit .view .cart_forms .cf_content {
  overflow: hidden;
}

body.edit .view .cart_forms .cf_content .mui-input-row.mui-checkbox {
  display: block;
}

body.edit .view .cart_forms .cf_content .cf_info .mui-numbox {
  display: block;
}
/*# sourceMappingURL=cart.css.map */