header {
    padding: 0 10px;
    .mui-title {
        color: #0062cc;
    }
    
}  
.view {
    padding: 8px 8px 0;
    form {
        input {
            font-size: 12px;
        }
        .code {
            position: relative;
            
            .getCode {
                position: absolute;
                right: 4px;
                width: auto;
                height: auto;
                line-height: 1;
                font-size: 12px;
                padding: 4px;
                top:10px;
            }
        }
    }
    .btn_tool {
        margin-top: 20px;
        display: flex;
        button {
            flex:1;
            padding: 12px 0;
        }
    }
}